{% extends 'base.html' %}

{% block title %}병의 민족{% endblock %}

{% block navbar %}
<nav class="nav nav-masthead justify-content-center">
  <a class="nav-link active" href="{% url 'home'%}">Home</a>
  <a class="nav-link" href="{% url 'store'%}">가게등록</a>
  <a class="nav-link" href="{% url 'store_detail'%}">가게 둘러보기</a>
</nav>
{% endblock %}

{% block main %}
<main role="main" class="inner cover">
  <h1 class="cover-heading">병의 민족</h1>
  <p class="lead">공복에 치킨이 그리울 때</p>
  <p class="lead">
    <a href="{% url 'order'%}" class="btn btn-lg btn-secondary">주문하러가기</a>
  </p>
</main>
{% endblock %}