{% extends 'base.html' %}

{% block title %}병의 민족 - 주문하기{% endblock %}

{% block navbar %}
<nav class="nav nav-masthead justify-content-center">
    <a class="nav-link" href="{% url 'home'%}">Home</a>
    <a class="nav-link active" href="{% url 'order'%}">주문하기</a>
    <a class="nav-link" href="{% url 'order_list' %}">주문목록</a>
    <a class="nav-link" href="{% url 'store'%}">가게등록</a>
    <a class="nav-link" href="{% url 'store_detail' %}">가게 둘러보기</a>
</nav>
{% endblock %}

{% block main %}
<h2>주문서 작성</h2>
<div class="order">
    <form action="{% url 'order' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="store" placeholder="가게이름">
        <br>
        <input type="text" name="menu" placeholder="메뉴">
        <br>
        <input type="text" name="side" placeholder="사이드">
        <br>
        <input type="text" name="address" placeholder="주소">
        <br>
        <input type="submit" class="button">
    </form>
</div>
{% endblock %}