{% extends 'base.html' %}

{% block title %}병의 민족 - 가게등록{% endblock %}

{% block navbar %}
<nav class="nav nav-masthead justify-content-center">
    <a class="nav-link" href="{% url 'home'%}">Home</a>
    <a class="nav-link" href="{% url 'order'%}">주문하기</a>
    <a class="nav-link" href="{% url 'order_list' %}">주문목록</a>
    <a class="nav-link active" href="{% url 'store'%}">가게등록</a>
    <a class="nav-link" href="{% url 'store_detail' %}">가게 둘러보기</a>
</nav>
{% endblock %}

{% block main %}

<h2>가게등록</h2>
<div class="store">
    <form action="{% url 'store' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-4">
            <input type="file" accept='.jpg, .png, .gif' name="image">
        </div>

        <br>
        <input type="text" name="name" placeholder="가게이름을 입력해주세요">
        <br>
        <input type="text" name="intro" placeholder="소개글을 입력해주세요">
        <br>
        <input type="submit" class="button">
    </form>
</div>

{% endblock %}