{% extends 'base.html' %}

{% block navbar %}
<nav class="nav nav-masthead justify-content-center">
    <a class="nav-link" href="{% url 'home'%}">Home</a>
    <a class="nav-link" href="{% url 'order'%}">주문하기</a>
    <a class="nav-link" href="{% url 'order_list' %}">주문목록</a>
    <a class="nav-link" href="{% url 'store'%}">가게 둘러보기</a>
</nav>
{% endblock %}

{% block main %}
<h2>주문서 작성</h2>
<div class="order">
    <form action="{% url 'order' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="store" placeholder="가게이름" value='{{Items.store}}' style="font-size:25px;" class="orderbox">
        <br>
        <input type="text" name="menu" placeholder="메뉴" value='{{Items.menu}}' style="font-size:25px;" class="orderbox">
        <br>
        <input type="text" name="side" placeholder="사이드" value='{{Items.side}}' style="font-size:25px;" class="orderbox">
        <br>
        <input type="text" name="address" placeholder="주소" value='{{Items.address}}' style="font-size:25px;" class="orderbox">
        <br>
        <button type="submit" style="font-size:25px;" class="btn btn btn-warning button submitbox">제출</button>
    </form>
</div>
{% endblock %}